.mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.errorText {
  font-size: 12px;
  text-align: center;
  color: red;
}